<div class="dialog g4">
<h1><%=t '.title' %></h1>

<%= form_tag sessions_path do %>
<p>
	<%= label_tag :email %><br>
	<%= text_field_tag :email, params[:email] %>
</p>
<p>
	<%= label_tag :password %><br>
	<%= password_field_tag :password %> <span class="note"><%= link_to t('.forgot_it_q'), new_password_reset_path %></span>
</p>
<p>
	<%= check_box_tag :remember_me, 1, params[:remember_me] %>
	<%= label_tag :remember_me %>
</p>
<p>
	<%= submit_tag t('.submit'), :class => :submit %>
	<span class="note"><%=t '.no_account_q' %> <%= link_to t('signup'), new_user_path %></span>
</p>
<% end %>
<div class="oauth_providers">
	<%= render :partial => 'sessions/login_providers', :locals => { :title => "...#{t('or_login_with')}:" } %>
</div>
</div>
