<div class="centered_dialog small">
	<h1><%= t('resend_confirmation.title') %></h1>

	<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <div><%= f.label t('resend_confirmation.email') %><br />
	  <%= f.email_field :email, :autofocus => true, :class => 'text_input' %></div>

	  <p class="submits">
		<%= f.submit t('resend_confirmation.submit') %>
	  </p>
	<% end %>
</div>