<div class="dialog g4">
	<h1><%=t '.title' %></h1>
	<p><%=t '.body', :user => @email.uid %></p>
	<%= form_tag password_resets_path, :method => :post do %>
		<%= hidden_field_tag :email, @email.uid %>
	<p>
		<%= submit_tag t('.submit'), :class => :submit %>
	</p>
	<% end %>
</div>