<div class="centered_dialog small">
    <h1><%=t 'accounts.edit_password.title' %> </h1>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :multipart => true, :method => :put }) do |f| %>

        <%= devise_error_messages! %>

        <p>
            <%= f.label :email %>
            <%= f.email_field :email, { :class => 'text_input' } %>
        </p>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <p>
            <%= f.label t('user_info.password_leave_blank') %>
            <%= f.password_field :password, :autocomplete => "off", :class => 'text_input' %>
        </p>

        <p>
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, :class => 'text_input' %>
        </p>

        <p>
            <%= f.label t('user_info.password_current') %>
            <%= f.password_field :current_password, :class => 'text_input' %>
        </p>


        <p class="submits">
            <%= f.submit t 'accounts.edit_password.title' %>
        </p>

    <% end %>

</div>
