<div class="centered_dialog small">
  <h1>Edit <%= resource_name.to_s.humanize %></h1>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :multipart => true, :method => :put }) do |f| %>
    <%= devise_error_messages! %>

    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name, :class => 'text_input'%>
    </p>

    <p>
      <%= f.label :email %><br />
      <%= f.email_field :email, :class => 'text_input'%>
    </p>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <p>
      <%= f.label "Password (leave blank if you don't want to change it)" %><br />
      <%= f.password_field :password, :autocomplete => "off", :class => 'text_input' %>
    </p>

    <p>
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, :class => 'text_input' %>
    </p>

    <p>
      <%= f.label "Current password (we need your current password to confirm your changes)" %><br />
      <%= f.password_field :current_password, :class => 'text_input' %>
    </p>

    <p>
      <%= image_fields f, current_user %>
    </p>

    <p class="submits">
      <%= f.submit "Update" %>
    </p>
    <div class="tokens">
      <p><%= f.label :token_authentication_key %><br />
        <%= resource.authentication_token.blank? ? "Token Empty" : resource.authentication_token %>
      </p>

      <p>
        <%= link_to "Generate Token", token_authentications_path(:user_id => resource.id), :method => :post, :confirm => "Are you sure?"  %>
        <%= link_to "Delete Token", token_authentication_path(resource), :method => :delete, :confirm => "Are you sure?" if resource.authentication_token? %>
      </p>

      <% if resource.authentication_token %>
        <p>You can use this url to login<br />
        <%= link_to "http://localhost:3000#{root_path(:auth_token => resource.authentication_token)}", root_path(:auth_token => resource.authentication_token)  %></p>
      <% end %>
    </div>
    
  <% end %>

  <h1>Cancel my account</h1>

  <p>Unhappy?</p>
  <div class="submits"><%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></div>

  <%= link_to "Back", :back %>

</div>