<tr id="comment_<%= comment.id %>">
	<td class="avatar">
		<%= profile_image comment.user %>
	</td>
	<td>
		<% if can? :manage, comment %>
			<p class="buttons righty">
				<%= link_to "Delete", comment, :remote => true, :method => :delete, :confirm => "Are you sure?" %>
			</p>
		<% end %>
		<p class="note">
			<%= link_to comment.user.name, comment.user %>, 
			<span class="timeago" title="<%= comment.created_at.getutc.iso8601 %>"><%= time_ago_in_words comment.created_at %> ago</span>
		</p>
		<%= sanitize(simple_format(auto_link(comment.body)),:tags => %w(a br p)) %>
	</td>
</tr>
