<%= form_for @issue, :url => url do |f| %>
<%= errors_for( @issue ).html_safe %>
	<% if can? :manage, @issue %>
	<p>
		<%= f.label :labels %><br>
		<% for label in Issue::LABELS %>
			<%= check_box_tag "labels[#{label}]", label, @issue.label_list.to_s.split.include?(label.to_s) %>
			<%=t "labels.#{label}", %><br>
		<% end %>
	</p>
	<% end %>
	<p>
		<%= f.label :title %>
		<%= chars_remaining %>
		<%= f.text_area :title, { :rows => 1, "data-maxlength" => @issue.class::MAXLENGTH[:title] } %>
	</p>
	<p>
		<%= f.label :body %>
		<%= chars_remaining %>
		<%= f.text_area :body, { :rows => 10, "data-maxlength" => @issue.class::MAXLENGTH[:body] } %>
	</p>
	<p>
		<%= f.label :tags %>
		<%= f.text_area :tag_list, { :rows => 1 } %>
	</p>
	<p><%= f.submit :class => :submit %></p>
<% end %>
