<%= form_for @issue, :url => url do |f| %>
	<h1><%=t 'issues.new.title' %></h1>
	<%= errors_for( @issue ).html_safe %>
	<p>
		<%= f.label :title %>
		<%= chars_remaining %>
		<%= f.text_field :title, { :rows => 1, "data-maxlength" => @issue.class::MAXLENGTH[:title], :class => "text_input" } %>
	</p>
	<p>
		<%= f.label :body %>
		<%= chars_remaining %>
		<%= f.text_area :body, { :rows => 10, "data-maxlength" => @issue.class::MAXLENGTH[:body], :class => "text_input" } %>
	</p>
	<% if @themes.any? %>
	<p>
		<%= f.label :themes %><br>
		<% for theme in @themes %>
			<%= check_box_tag "issue[theme_ids][]", theme.id, @issue.themes.include?(theme) %>
			<%= theme.title %><br>
		<% end %>
	</p>
	<% end %>
	<p>
		<%= f.label :tags %>
		<%= f.text_field :tag_list, { :rows => 1, :class => "text_input" } %>
	</p>
	<% if can? :manage, @issue %>
	<p>
		<%= f.label :labels %><br>
		<%= f.text_field :label_list, { :rows => 1, :class => "text_input" } %>
	</p>
	<% end %>
	<p class="submits"><%= f.submit :class => :submit %></p>

<% end %>
