<% if @issues && @issues.any? %>
	<ul class="grid">
		<% for issue in @issues %>
			<% klass = cycle 'red', 'blue', 'orange' %>
			<li class="item">
				<div class="item_thumb <%= klass %>">
					<%= link_to(issue_path(issue, :color => klass)) do %>
						<h2><%= issue.title %></h2>
						<p class="from">af <%= issue.user.name %></p>
						<div class="soc">
							<div class="soc_comment">
								<%= t( 'comment', :count => issue.comments_count ) %>
							</div>
						</div>
					<% end %>
				</div>
			</li>
		<% end %>
	</ul>
	<%= will_paginate @issues, :class => :pagination %>
<% else %>
	<p><%= t '.no_items' %></p>
<% end %>
