<div class="sidebar">
	<%= image_tag 'dialog.png', :class => "lefty dialog" %>
	<h1><%=t '.title' %></h1>
	<%= simple_format t('.body') %>
	<%= render 'issues/new_button' %>
	<div class="note">
		<%= auto_html_basic t('.note') %>
	</div>
</div>
