<div class="gr">
	<div class="g8">
		<div class="righty buttons">
			<%= link_to t('.new'), new_issue_path %>
		</div>
		<h1><%=t '.title' %></h1>
		<p><%=t '.body' %></p>
		<%= link_to t('issues.labels.all'), issues_path %>
		<%= link_to t('issues.labels.ideas'), :label => 'idea' %>
		<%= link_to t('issues.labels.bugs'), :label => 'bug' %>
		<br>
		
		<%= will_paginate @issues, :class => :pagination %>
		<table class="issues">
			<% for issue in @issues %>
			<tr class="<%= cycle 'even', 'odd' %>">
				<td class="note">
					#<%= issue.id %>
				</td>
				<td>
					<h4>
						<%= link_to issue.title, issue %>
					</h4>
					<p class="note">
						<%= link_to issue.user.name, issue.user, :class => :user %>,
						<span class="timeago" title="<%= issue.created_at.getutc.iso8601 %>"><%= time_ago_in_words(issue.created_at) %></span>
					</p>
				</td>
				<td class="comments note">
					<%= link_to t( 'comment', :count => issue.comments_count ), issue %>
				</td>
				<% if can? :manage, issue %>
				<td class="editing buttons last">
					<%= link_to t('edit'), [:edit,issue] %>
					<%= link_to t('delete'), issue, :method => :delete, :confirm => t('sure_q') %>
				</td>
				<% end %>
			</tr>
			<% end %>
		</table>
		<%= will_paginate @issues, :class => :pagination %>
		
		<% if @issues.empty? %>
			<p><%= t '.no_items' %></p>
		<% end %>
	</div>
	<div class="g1">&nbsp;</div>
	<div class="g3 ge">
		<%= render 'sidebar' %>
	</div>
</div>