<% if params[:ajax] %>
<div class="ajax_dialog">
  <div class="close" onclick="close_dialog();"></div>
  <div class="comment_panel">
    <div class="left">
      <div class="form">
        <h1><%=t '.title' %></h1>
        <%= render :partial => 'form', :locals => { :url => issues_path } %>
      </div>
    </div>
    <div class="right">
      <%= render 'issues/welcome' %>
    </div>
    <div class="clear"></div>
  </div>
</div>
<% else %>
<div class="centered_dialog small">
  <div class="comment_panel">
    <h1><%=t '.title' %></h1>
    <%= render :partial => 'form', :locals => { :url => issues_path } %>
  </div>
</div>
<% end %>