<div class="gr">
	<div class="g8">
		<p>
			<%= link_to "&larr; #{t '.back_to_list'}".html_safe, issues_path %>
		</p>
		<%= render 'issues/editing' %>
		
		<h2><%= @issue.title %></h2>

		<div class="label_list">
			<ul>
			<% for label in @issue.label_list.to_s.split %>
				<%= content_tag :li, t("labels.#{label}"), :class => :on %>
			<% end %>
			</ul>
		</div>
		<br>
		
		<%= simple_format @issue.body %>

		<% if @issue.tags.any? %>
			<span class="tags">
				<%=t '.tags' %>: <%= @issue.tag_list %>
			</span><br>
		<% end %>

		<br class="clear">

		<% if current_user %>
			<div class="righty"><%= render 'issues/votes' %></div>
		<% end %>

		<% if @issue.user %>
			<%= link_to profile_image(@issue.user), @issue.user, :class => "avatar lefty" %>
		<% end %>

		<div class="note">
			<% if @issue.user %>
				<%= link_to truncate(@issue.user.name, :length => 80), @issue.user %>,
			<% end %>
			<span class="timeago" title="<%= @issue.created_at.getutc.iso8601 %>">
				<%= time_ago_in_words @issue.created_at %> _password
			</span>
		</div>
		<br class="clear">

		<%= comments @issue %>
	</div>
	<div class="g1">&nbsp;</div>
	<div class="g3 ge">
	</div>
</div>

