<div class="gr">
	<div class="g4 ">
        <%= render 'issues/most_commented' %>
		<%= render 'issues/tags' %>
		<%= render 'issues/related' %>
	</div>
	<div class="g8 ge">
		<p><%= link_to "&larr; ".html_safe+t('issues.view_all_issues'), issues_path %></p>
		<h1><%=t '.title' %></h1>
		<%= render :partial => 'tag_cloud', :locals => { :tags => @tags } %>
		<br>
		<hr>
		<h3><%=t 'issues.search.num_found', :count => @issues.size %></h3>
		<br>
		<%= render :partial => 'issues/issues' %>
	</div>
</div>