<div class="theme">
	<p class="note">
	<% if theme == Theme.order('created_at desc').first %>
		<%=t '.title_current' %>
	<% else %>
		<%=t '.title' %>
	<% end %>
	</p>
	<% if can? :manage, theme %>
		<div class="buttons righty">
			<%= link_to t('edit'),  [:edit, theme] %>
			<%= link_to t('delete'), theme, :method => :delete, :confirm => t('sure_q') %>
		</div>
	<% end %>
	<h1><%= theme.title %></h1>
	<%= image_tag(theme.image.url)  %>
	<br><br>
	<%= auto_html_blog theme.body, :width => 760, :height => 506 %>
	</p>
</div>