<div class="gr">
	<div class="g4">
		<%= render 'issues/welcome' %>
		<%= render 'issues/corps' %>
		<%= render 'themes/themes' %>
		<%= render 'issues/most_commented' %>
		<%= render 'issues/search' %>
		<%= render 'issues/tags' %>	</div>
	<div class="g8 ge">
		<%= render @theme %>
		<br>
		
		<%= render 'issues/new_button' %>
		<h2><%=t '.issues' %></h2>
		<%= render :partial => 'issues/issues' %>
		<p><%= link_to "#{t('issues.issues.all_issues')} &rarr;".html_safe, all_issues_path %></p>
	</div>
	
</div>
