<div class="gr">
	<div class="g4">
		<%= render 'themes/themes' %>
		<%= render 'issues/most_commented' %>
		<%= render 'issues/tags' %>	</div>
	<div class="g8 ge">
		<%= render @theme %>
		<br>
		
		<div class="righty big buttons">
			<%= link_to t('.new'), new_issue_for_theme_path %>
		</div>
		<h2><%=t '.issues' %></h2>
		<p><%= link_to "#{t('.all_issues')} &rarr;".html_safe, all_issues_path %></p>
		<%= render :partial => 'issues/issues' %>
	</div>
	
</div>
