<br>
<br>
<hr>
<h2><%=t '.title' %></h2>
<%= will_paginate @users, :class => :pagination %>
<% for user in @users %>
  <p class="user_list">
    <span class="avatar">
      <%= link_to profile_image(user), corp_path(:id => user.id) %>
    </span>
    <%= user.name %>
  </p>
<% end %>
<%= will_paginate @users, :class => :pagination %>
