<div class="gr">
	<div class="g4">
		<%= render 'issues/sidebar' %>
	</div>
	<div class="g8 ge">
		<h1><%=t '.title' %></h1>
		<%= simple_format t('.body') %>
		<%= render 'membership' %>
		<%= render 'testers' %>
	</div>
</div>