<div class="centered_dialog small">
	<h1><%=t '.title' %></h1>

	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		<p>
		    <%= f.label :email %><br>
		    <%= f.text_field :email, :class => 'text_input'  %>
		</p>
		<p>
		    <%= f.label :password %><br>
		    <%= f.password_field :password, :class => 'text_input' %> <span class="note"><%= link_to t('.forgot_it_q'), new_password_path(resource_name) %> <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
            <br />
        <% end -%></span>
		</p>
		<p>
		    <%= f.check_box :remember_me%>
		    <%= f.label t('.remember_me'), :for => 'user_remember_me' %>
		</p>
		<p class="submits">
		    <%= f.submit t('login'), :class => 'submit_button' %>
		    <%= link_to t('sessions.new.signuporlogin_with_fb'), user_omniauth_authorize_path(:facebook), :class => 'facebook' %>
		</p>
		<p class="register">
			<%#=t '.no_account_q' %>
			<%= link_to t('sessions.new.signup_account'), new_registration_path(resource_name) %>
			<%= link_to t('devise.sessions.new.email_rc_q'), new_confirmation_path(resource_name) %>
		</p>
	<% end %>
</div>

