<% klass = cycle 'first', 'second' %>
<article class="item">
	<div class="inner">
		<div class="top">
			<h1><%= link_to blog_entry.title, blog_entry %></h1>
			<p class="posted_at" title="blog_entry.created_at.getutc.iso8601"><%= time_ago_in_words(blog_entry.created_at).capitalize %> <%=t 'ago' %></p>
		</div>
		<% if blog_entry.image? %>
			<div class="image">
				<%= link_to blog_entry do %>
					<%= image_tag blog_entry.image.url %>
				<% end %>
			</div>
		<% end %>
		<div class="text">
			<%= auto_html_blog truncate(blog_entry.body, :length => 250), :width => 760, :height => 506 %>
		</div>
		
		<div class="read_more">
			<%= link_to "#{blog_entry.comments_count.to_i > 0 ?
			t( 'comment', :count => blog_entry.comments_count ) :
			t('be_the_first_to_comment')} &rarr;".html_safe,
			 	{ :controller => :blog, :action => :show, :id => blog_entry.id, :anchor => :comments }, :class => :note %>
		</div>
		<% if can? :manage, @blog_entry %>
			<ul class="admin_panel">
				<li><%= link_to t('edit'),  [:edit, blog_entry] %></li>
				<li><%= link_to t('delete'), blog_entry, :method => :delete, :confirm => t('sure_q') %></li>
			</ul>
		<% end %>
	</div>
</article>
<% if klass == "second" then %>
	<div class="clear"></div>
<% end %>
