<%= form_for @blog_entry, :url => url, :html => {:multipart => true} do |f| %>
<%= errors_for( @blog_entry ).html_safe %>

  <p>
    <%= f.label :title %>
    <%= chars_remaining %><br>
    <%= f.text_field :title, { "data-maxlength" => @blog_entry.class::MAXLENGTH[:title], :class => 'text_input' } %>
  </p>
  <p>
    <%= f.label :body %>
    <%= chars_remaining %><br>
    <%= f.text_area :body, { :rows => 10, "data-maxlength" => @blog_entry.class::MAXLENGTH[:body], :class => 'text_input' } %>
  </p>
  <p>
    <%= f.label :tag_list %>
    <%= f.text_field :tag_list, { :rows => 1, :class => 'text_input' } %>
  </p>
  <p>
    <%= f.label :category_list %>
    <%= f.text_field :category_list, { :rows => 1, :class => 'text_input' } %>
  </p>
  <p>
    <%= image_fields f, @blog_entry %>
  </p>
  <p>
    <%= f.label :sticky %><br>
    <%= f.check_box :sticky %> <%=t '.make_sticky'%>
  </p>
  <p class="submits"><%= f.submit t('.submit'), :class => :submit %></p>

<% end %>
