<div class="gr">
	<div class="g8 left-col">
		<% if can? :manage, BlogEntry %>
			<div class="righty buttons">
				<%= link_to "New Entry",  new_blog_entry_path %>
			</div>
		<% end %>
		<h1><%=t '.title' %></h1>
		<br>
		<%= will_paginate @blog_entries, :class => :pagination %>
		<ul class="blog_entries">
			<%= render :partial => 'list', :collection => @blog_entries, :as => :blog_entry %>
		</ul>
	</div>
	<div class="g4 ge right-col">
		<div class="inner">
			<%= render 'tag_cloud' %>
			<%= render 'links' %>
		</div>
	</div>
</div>


