<div class="menu">
	<%= render_navigation :context => :blog %>
</div>
<br class="clear">
<br>

<% if can? :manage, @blog_entry %>
<div class="buttons righty">
	<%= link_to "Edit",  [:edit,@blog_entry] %>
	<%= link_to "Delete",  @blog_entry, :method => :delete, :confirm => "Are you sure?" %>
</div>
<% end %>
<h1><%= @blog_entry.title %></h1>
<%= image_tag @blog_entry.image.url if @blog_entry.image? %>
<p class="note">
	<span class="timeago" title="blog_entry.created_at.getutc.iso8601"><%= time_ago_in_words(@blog_entry.created_at).capitalize %> ago</span>
</p>
<%= auto_html_blog @blog_entry.body, :width => 610, :height => 406 %>
<%= comments @blog_entry %>
