<div class="gr">
	<div class="g8">
		<% if can? :manage, @blog_entry %>
		<div class="buttons righty">
			<%= link_to t('edit'),  [:edit,@blog_entry] %>
			<%= link_to t('delete'),  @blog_entry, :method => :delete, :confirm => t('sure_q') %>
		</div>
		<% end %>
		<h1><%= @blog_entry.title %></h1>
		<p class="note">
			<% if @blog_entry.user %>
				<%= @blog_entry.user.name %>,
			<% end %>
			<span class="timeago" title="blog_entry.created_at.getutc.iso8601"><%= time_ago_in_words(@blog_entry.created_at).capitalize %> ago</span>
		</p>
		<%= image_tag @blog_entry.image.url if @blog_entry.image? %>
		<%= auto_html_blog @blog_entry.body, :width => 610, :height => 406 %>
		<% if @blog_entry.tags.any? %>
			<p class="tags">
				Tags: <%= @blog_entry.tag_list %>
			</p>
		<% end %>
		<%= comments @blog_entry %>
	</div>
	<div class="g1">&nbsp;</div>
	<div class="g3 ge">
		<%= render 'latest' %>
		<%= render 'tag_cloud' %>
	</div>
</div>
