<p><%=t('devise.mailer.reset_password_instructions.addressuser')%> <%= @resource.name %>!</p>

<p><%=t('devise.mailer.reset_password_instructions.contentblock_1')%></p>

<p><%= link_to t('devise.mailer.reset_password_instructions.rplink'), edit_user_password_url(:reset_password_token => @resource.reset_password_token) %></p>

<p><%=t('devise.mailer.reset_password_instructions.contentblock_2')%></p>
<p><%=t('devise.mailer.reset_password_instructions.contentblock_3')%></p>
