<h6>Add Email</h6>
<%= form_for current_user, :url => emails_path, :method => :post do |f| %>
<%= errors_for( current_user ).html_safe %>
<%= fields_for @auth do |auth| %>
<p>
	<%= auth.label :uid %><br>
	<%= auth.text_field :uid %>
</p>
<% end %>
<br><p class="note">To use email login, please choose a password:</p>
<p>
	<%= f.label :password %><br>
	<%= f.password_field :password %>
</p>
<p>
	<%= f.label :new_password_confirmation %><br>
	<%= f.password_field :password_confirmation %>
</p>
<br>
<p>
	<%= submit_tag "Add Email", :class => :submit %>
</p>
<% end %>
