<div id="viewport">
	<div id="topbar">
		<div class="close control"></div>
		<select name="bike" id="">
			<option><%=t :normal_bike %></option>
			<option disabled="true"><%=t :frieght_bike %></option>
			<option disabled="true"><%=t :electrical_bike %></option>
		</select>
		<div class="reset"><%=t :reset %></div>
		<div class="label">
			<label>
				<p><%=t :from %></p>
				<input type="text" class="from"  title='<%=t :from %>'>
			</label>
		</div>
		<div class="label">
			<label>
				<p><%=t :to %></p>
				<input type="text" class="to"  title='<%=t :to %>'>
			</label>
		</div>




		<div class="time">
			<p class='distance'><%=t :distance %>: <span class="count">23 km</span></p>
			<p class='duration'><%=t :duration %>:<span class="count">13 minutter</span></p>
			<p class='arrival'><%=t :arrival %>: <span class="count">13 minutter</span></p>
		</div>

		<div class="meta">
			<a class="link" href="#"><%=t :link_for_route %></a> 
			<p class="instructions"><%=t :route_instructions %></p>
			<div class="route">
				
			</div>
		</div>

	</div>
	<div id="map"></div>
</div>

