<div id="closing">
  <div id="left">
    <%= image_tag ("icons8-error-filled-50.png" )%>
  </div>
  <h1><%=t 'closing_down_title' %></h1>
  <%=t 'closing_down_text' %>
</div>
<div id="header">
  <div class="mobile_nav_trigger"></div>
  <div class="menu">
    <%= render_navigation :context => :main %>
  </div>
  <div class="right_menu">
    <div class="menu locales">
      <%= render_navigation :context => :locale %>
    </div>
    <div class="menu login">
      <%= render_navigation :context => :login %>
    </div>
  </div>
</div>
