<div id="header">
  <div class="mobile_nav_trigger"></div>
  <div class="menu">
    <%= render_navigation :context => :main %>
  </div>
  <div class="right_menu">
    <div class="menu mobile" id="">
      <ul>
        <li id="mobile_app"><a href="#app"><%=t 'menu.mobile_app' %></a></li>
      </ul>
    </div>
    <div class="menu locales">
      <%= render_navigation :context => :locale %>
    </div>
<!--    <div class="menu login">-->
      <%#= render_navigation :context => :login %>
<!--    </div>-->
  </div>
</div>
<div id="mobileapp">
  <div class="close"></div>
  <div class="phone"></div>
  <div class="text">
    <% if I18n.locale.to_s == "da" %>
      <h1>Få styr på ruten på din mobil.</h1>
      <p>Søg ruter og brug dine favoritter på farten.</p>
    <% else %>
      <h1>Keep track of the route on your mobile.</h1>
      <p>Search routes and use your favorites on the go.</p>
    <% end %>
  </div>
  <div class="download">
    <div class="appstore">
      <a href="https://itunes.apple.com/dk/app/i-bike-cph/id684768054?l=da&amp;mt=8" target="_blank"><img src="/assets/_new/appstore-<%= I18n.locale.to_s %>.png"></a>
    </div>
    <div class="googleplay">
      <a href="https://play.google.com/store/apps/details?id=dk.kk.ibikecph" target="_blank"><img src="/assets/_new/googleplay-<%= I18n.locale.to_s %>.png"></a>
    </div>
  </div>
</div>
