<div id="header">
	<%= image_tag 'alpha.png', :class => :alpha %>
	<%= link_to image_tag('ibikecph_small.png', :class => :logo), root_path %>
	<div class="menu">
		<%= render_navigation :context => :main %>
	</div>
	<div class="menu locales">
		<%= render_navigation :context => :locale %>
	</div>
	<div class="menu login">
		<%= render_navigation :context => :login %>
	</div>
</div>
