<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<%= stylesheet_link_tag "map", :media => "all" %>
	<%= javascript_include_tag "map" %>
	<%= csrf_meta_tags %>
	<!--  favicon -->
	<link rel="shortcut icon" href="" type="image/x-icon" id="favicon"/>
	<title><%=t :page_title %></title>
</head>
<body class="base-font not-selectable">
	<%= render :partial => 'layouts/header', :locals => { :current_user => current_user } %>
	<%= yield %>
</body>
</html>
