<!DOCTYPE html>
<html>
<head>
	<%= stylesheet_link_tag "map", :media => "all" %>

	<!--[if lte IE 8]>
		<%= stylesheet_link_tag "leaflet.ie.css", :media => "all" %>
	<![endif]-->

	<%= javascript_include_tag "map" %>
	<script type="text/javascript">
	I18n.locale        = "<%= I18n.locale %>"
	</script>
	<%= csrf_meta_tags %>
	<!--  favicon -->
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" id="favicon"/>
	<title><%=t :page_title %></title>
	<%= analytics_init if Rails.env.production? %>
</head>
<body>
	<%= render :partial => 'layouts/header', :locals => { :current_user => current_user } %>
	<%= render :partial => 'layouts/flash', :locals => { :alert => alert, :notice => notice } %>
	<%= yield %>
</body>
</html>
