<h1>Change Password</h1>
<%= form_for current_user, :url => update_password_path, :method => :put do |f| %>
<%= errors_for( current_user ).html_safe %>
<p>
	<%= f.label :current_password %><br>
	<%= password_field_tag :password %> <%= link_to 'Forgotten?',new_password_reset_path %>
</p>
<p>
	<%= f.label :password, 'New password' %><br>
	<%= f.password_field :password %>
</p>
<p>
	<%= f.label :new_password_confirmation %><br>
	<%= f.password_field :password_confirmation %>
</p>
<p>
	<%= f.submit "Change", :class => :submit %>
</p>
<% end %>