<div class="dialog g6">
<h1><%=t '.title' %></h1>
<%= errors_for( current_user ).html_safe %>
<%= form_for current_user, :url => account_path, :html => {:multipart => true} do |f| %>
	<p>
		<%= f.label :name %>
		<%= chars_remaining %><br>
		<%= f.text_field :name, { "data-maxlength" => User::MAXLENGTH[:name] } %>
	</p>
	<br>
	<p>
		<%= image_fields f, current_user %>
	</p>
	<br>
	<p>
		<%= f.label :about %>
		<%= chars_remaining %>
		<%= f.text_area :about, { :rows => 6, "data-maxlength" => User::MAXLENGTH[:about] } %>
	</p>
	<p><%= f.submit t('.submit'), :class => :submit %></p>
<% end %>
</div>