<div class="centered_dialog small">
	<h1><%=t '.title' %></h1>
	<%= errors_for( @user ).html_safe %>
	<%= form_for @user, :url => account_path, :html => {:multipart => true} do |f| %>
		<p>
			<%= f.label :name %>
			<%= chars_remaining %><br>
			<%= f.text_field :name, { "data-maxlength" => User::MAXLENGTH[:name], :class => 'text_input' } %>
		</p>
		<p>
			<%= image_fields f, @user %>
		</p>
		<p>
			<%= f.label :about %>
			<%= chars_remaining %>
			<%= f.text_area :about, { :rows => 6, "data-maxlength" => User::MAXLENGTH[:about], :class => 'text_input' } %>
		</p>
		<p class="submits"><%= f.submit t('.submit') %></p>
	<% end %>
</div>