<div class="centered_dialog small">
  <h1><%=t '.title' %></h1>
  <%= errors_for( @user ).html_safe %>
  <%= form_for @user, :url => account_path, :html => {:multipart => true} do |f| %>
    <p>
      <%= f.label :name %>
      <%= chars_remaining %><br>
      <%= f.text_field :name, { "data-maxlength" => User::MAXLENGTH[:name], :class => 'text_input' } %>
    </p>
    <p class="submits">
      <%= link_to t('accounts.misc.cancel'), :back, :class => 'cancel' %>
      <%= f.submit t('.submit') %>
    </p>
  <% end %>
</div>