<div class="centered_dialog small">

  <h1><%=t '.title' %></h1>

  <label><%=t '.name' %></label>
  <p><%= current_user.name %></p>

  <% if !current_user.facebook_user? %>
  <hr>
  <label><%=t '.email' %></label>
  <p><%= current_user.email %></p>
  <% end %>

  <hr>

  <%= link_to t('edit'), [:edit,:account], :class => "button" %>
  <%= link_to t('.change_password'), edit_password_path, :class => "note button" %>

</div>

