<div class="centered_dialog small">

  <%= link_to t('edit'), [:edit,:account], :class => "button righty" %>
  <h1><%=t '.title' %></h1>

  <label><%=t '.name' %></label>
  <p><%= current_user.name %></p>

  <label><%=t '.image' %></label>
  <p>
    
            <%if current_user.facebook_user?%>
              <%=image_tag "http://graph.facebook.com/#{current_user.uid}/picture?width=160&height=160", :class => 'g2 square'%>
            <%else%>
                <%= image_tag current_user.image.g2.url, :class => 'g2 square' %>
            <%end%>
  </p>

  <label><%=t '.about' %></label>
  <% if current_user.about.present? %>
    <%= simple_format( h(current_user.about) ) %>
  <% else %>
    <p>(<%=t 'empty' %>)</p>
  <% end %>

  <% if !current_user.facebook_user? %>
  <hr>

     <%= link_to t('.change_password'), edit_password_path, :class => "note button righty" %>
  <label><%=t '.email' %></label>
  <p><%= current_user.email %></p>
  <% end %>

  <hr>

  <%= link_to t('.change_settings'),settings_account_path, :class => "note button righty" %>
  <label><%=t '.notify_by_email' %></label>
  <p>
    <%= current_user.notify_by_email ? t('yes') : t('no') %>
  </p>

</div>

